%tr
  %td= user.full_name
  %td= user.email
  %td= user.contact_info.unit_number
  %td= simple_format user.contact_info.full_address
  %td= user.contact_info.phone_number
  %td= user.role.capitalize
  %td.text-center
    = link_to "Deauthorize", set_user_role_path(user_id: user.id, role: "unauthorized")
    %br
    = link_to "Authorize", set_user_role_path(user_id: user.id, role: "authorized")
    %br
    = link_to "Admin", set_user_role_path(user_id: user.id, role: "admin")