%nav.navbar.navbar-default{:role => "navigation"}
  .navbar-header
    = link_to("Misiones Del Cabo", root_path, class: "navbar-brand")
  .navbar-collapse
    %ul.nav.navbar-nav
      %li.photos_tab
        = link_to("Photos", photos_path)
      %li.notices_tab
        = link_to("Notices", notices_path)
      %li.uploads_tab
        = link_to("Documents", documents_path)
      %li.contacts_tab
        = link_to("Contacts", contacts_path)
    = render "shared/login"