%nav.navbar.navbar-default{:role => "navigation"}
  .navbar-header
    = link_to("Misiones Del Cabo", root_path, class: "navbar-brand")
  .navbar-collapse
    %ul.nav.navbar-nav
      %li.photos_tab
        = link_to("Photos", photos_path)
      %li.notices_tab
        = link_to("Notices", notices_path)
      %li.documents_tab
        = link_to("Documents", documents_path)
      %li.contacts_tab
        = link_to("Contacts", contacts_path)
    %form.navbar-form.navbar-right{:role => "search"}
      .form-group
        %input.form-control{:placeholder => "Email", :type => "text"}
        %input.form-control{:placeholder => "Password", :type => "password"}
      = render "shared/login"