%nav.navbar.navbar-default.navbar-fixed-top.light-blue-gradient{ role: "navigation" }
  .container
    .navbar-header
      %button.navbar-toggle{ "type" => "button", "data-toggle" => "collapse", "data-target" => "#navbar_links" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to("Misioneros de Los Cabos", root_path, class: "navbar-brand")
    #navbar_links.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.photos_tab
          = link_to("Photos", photos_path)
        - if authorized_user_signed_in?
          %li.notices_tab
            = link_to("Notices", notices_path)
        - if authorized_user_signed_in?
          %li.uploads_tab
            = link_to("Documents", documents_path)
        - if authorized_user_signed_in?
          %li.maintenance_fee_tab
            = link_to("Maintenance Fee", maintenance_fee_path)
        %li.committees_tab
          = link_to("Committees", committees_path)
        - if admin_signed_in?
          %li.admin_tab
            = link_to("Admin", manage_users_path)
      = render "shared/login"