.row
  .col-md-4.text-center
    %h2.lead Board of Directors
  .col-md-4.text-center
    %h2.lead Review Committee
  .col-md-4.text-center
    %h2.lead Architectural Review
.row
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Kim Matthison", title: "President", unit_number: "4605", email: "kimmatthison@gmail.com" }
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Carl Swenson", unit_number: "1201", email: "cswenson@theswensongroup.com" }
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Jim Mansbridge", unit_number: "7601", email: "jim.marlinman@gmail.com" }
.row.top-buffer
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Ray Ramach", title: "Vice President", unit_number: "6201", email: "jrramach@gmail.com" }
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Gracie Atherton", unit_number: "1204", email: "atherton.gracie@gmail.com" }
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Nola Taylor", unit_number: "3205", email: "nola.t@telus.net" }
.row.top-buffer
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Bonnie Dowling", title: "Secretary", unit_number: "1105", email: "bonniedowling2@gmail.com" }
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Jon Brugman", unit_number: "6301", email: "brugman@bellsouth.net" }
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Mike Mallet", unit_number: "1208", email: "mallet.mike1@gmail.com" }
.row.top-buffer
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Ed Broshears", title: "Treasurer", unit_number: "4308", email: "wbroshears@gmail.com" }
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Gary Fisher", unit_number: "4206", email: "bajagary@hotmail.com" }
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Alisha Senter", unit_number: "1107", email: "alishasenter@gmail.com" }
.row.top-buffer
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Dana Atherton", unit_number: "1204", email: "danadelcabo@gmail.com" }
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "John Moore", unit_number: "4204", email: "johnmoore@tx.rr.com" }
