.row
  .col-md-4.text-center
    %h2.lead Board of Directors
  .col-md-4.text-center
    %h2.lead Review Committee
  .col-md-4.text-center
    %h2.lead Architectural Review
.row
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Greg Senter", title: "President", unit_number: "1107", email: "cosmeticdoc@gmail.com" }
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Ray Ramach", email: "jrramach@gmail.com" }
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Ray Ramach", email: "jrramach@gmail.com" }
.row.top-buffer
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Kim Matthison", title: "Vice President", unit_number: "4605", email: "kimmatthison@gmail.com" }
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Michael Schroeder", email: "mjsaatreg@yahoo.com" }
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Michael Schroeder", email: "mjsaatreg@yahoo.com" }
.row.top-buffer
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Bonnie Dowling", title: "Secretary", unit_number: "1105", email: "bonniedowling2@gmail.com" }
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Carl Swenson", email: "cswenson@theswensongroup.com" }
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Jim Mansbridge", email: "jim.marlinman@gmail.com" }
.row.top-buffer
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Ed Broshears", title: "Treasurer", unit_number: "4308", email: "wbroshears@gmail.com" }
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Gracie Atherton", email: "reviewgracie@gmail.com" }
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Nola Taylor", email: "nola.t@telus.net" }
.row.top-buffer
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Dana Atherton", unit_number: "1204", email: "danadelcabo@gmail.com" }
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Tony Wild", email: "toniwildone@gmail.com" }
  .col-md-4.text-center
    = render partial: "contact", locals: { name: "Mike Mallet", email: "mallett.mike1@gmail.com" }
