%h1 Committeees

.row
  .col-md-4.text-center
    %h2 Board of Directors
  .col-md-4.text-center
    %h2 Review Committee
  .col-md-4.text-center
    %h2 Architectural Review
.row
  .col-md-4.text-center
    = render partial: "contact"
  .col-md-4.text-center
    = render partial: "contact"
  .col-md-4.text-center
    = render partial: "contact"
.row.top-buffer-xl
  .col-md-4.text-center
    = render partial: "contact"
  .col-md-4.text-center
    = render partial: "contact"
  .col-md-4.text-center
    = render partial: "contact"
.row.top-buffer-xl
  .col-md-4.text-center
    = render partial: "contact"
  .col-md-4.text-center
    = render partial: "contact"
  .col-md-4.text-center
    = render partial: "contact"