%h1 Contacts

.row
  .col-md-4.col-md-offset-1.text-center
    = render partial: "contact"
  .col-md-4.col-md-offset-2.text-center
    = render partial: "contact"
.row.top-buffer-xl
  .col-md-4.col-md-offset-1.text-center
    = render partial: "contact"
  .col-md-4.col-md-offset-2.text-center
    = render partial: "contact"
.row.top-buffer-xl
  .col-md-4.col-md-offset-1.text-center
    = render partial: "contact"
  .col-md-4.col-md-offset-2.text-center
    = render partial: "contact"