.row
  .col-md-8.col-md-offset-2
    %h2 
      Location
      %small Courtesy of Google Maps
    .flexible_container.top-buffer
      %iframe{:frameborder => "0", :height => "600", :src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3675.4924594340782!2d-109.8916!3d22.8952!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86af4b05e07332d5%3A0x1d97c31ed70a5b6d!2sMisiones+del+Cabo+Resort!5e0!3m2!1sen!2sus!4v1393356300749", :style => "border:0", :width => "800"}

.row.top-buffer
  .col-md-8.col-md-offset-2
    %h2 
      Photos
      %small Pictures of facilities and staff
    .picture_with_caption.top-buffer
      = image_tag("hoa_office.jpg", class: "img-responsive bottom-buffer-sm")
      %p.text-center.lead HOA Office
    .picture_with_caption.top-buffer-xl
      = image_tag("employees.jpg", class: "img-responsive bottom-buffer-sm")
      %p.text-center.lead Our Staff
    .picture_with_caption.top-buffer-xl
      = image_tag("pepe_yuen.jpg", class: "img-responsive bottom-buffer-sm")
      %p.text-center.lead Pepe Yuen
    .picture_with_caption.top-buffer-xl
      = image_tag("victor_gm.jpg", class: "img-responsive bottom-buffer-sm")
      %p.text-center.lead
        Victor (GM)
        %small= mail_to("gmhoa.misiones@gmail.com")
    .picture_with_caption.top-buffer-xl
      = image_tag("gloria.jpg", class: "img-responsive bottom-buffer-sm")
      %p.text-center.lead
        Gloria (Billing)
        %small= mail_to("misioneshoa.billing@gmail.com")
    