%h1 Photos

.row
  .col-md-8.col-md-offset-2
    .picture_with_caption
      %p.text-center.lead.bottom-buffer-sm HOA Office
      = image_tag("hoa_office.jpg", class: "img-responsive")
    .picture_with_caption.top-buffer-xl
      %p.text-center.lead.bottom-buffer-sm Our Staff
      = image_tag("employees.jpg", class: "img-responsive")
    .picture_with_caption.top-buffer-xl
      %p.text-center.lead.bottom-buffer-sm Pepe Yuen
      = image_tag("pepe_yuen.jpg", class: "img-responsive")
    .picture_with_caption.top-buffer-xl
      %p.text-center.lead.bottom-buffer-sm Victor (GM)
      = image_tag("victor_gm.jpg", class: "img-responsive")
    .picture_with_caption.top-buffer-xl
      %p.text-center.lead.bottom-buffer-sm Gloria
      = image_tag("gloria.jpg", class: "img-responsive")
      