!!!
%html
  %head
    %title Misioneros De Los Cabos
    = include_gon
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}
  %body{ role: "document" }
    #wrap
      = render "shared/navigation"
      - if controller_name == "home" && action_name == "index"
        = render partial: "carousel"

      .container{ role: "main" }
        = render "shared/flash"
        = yield
      #push
    = render "shared/footer"
